.landing-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.landing-left {
  flex: 1;
  background: #1877f2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.landing-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.landing-left p {
  font-size: 18px;
  max-width: 400px;
}

/* RIGHT SIDE */
.landing-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.landing-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}
.landing-card h2 {
  margin-bottom: 20px;
  color: black;
}

.landing-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background: #1877f2;
  color: white;
}

.register-btn {
  background: #42b72a;
  color: white;
}